.navbar {
    height: 72px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #0052CC;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome {
    font-size: 16px;
    color: #172B4D;
}

.logout-btn {
    background: #0052CC;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.logout-btn:hover {
    background: #0747A6;
}